body{
    background-image: url("../images/circle-blues.png");
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: auto 1fr auto 1fr auto;
    grid-template-areas: 
        "header header header"
        ". . ."
        ". main ."
        ". . ."
        "footer footer footer";
}
header{
    grid-area: header;
    background: #ffffff;   
}
main{
    grid-area: main;
    background: #ffffff;
    border: 5px solid #cccccc;
}
footer{
    grid-area: footer;
    background: #dddddd;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}